/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* html{
  width: 100;
} */

/* .root{
  background-size: 100%;
  height: 100%;
}  */


/* ---------------- Landing Page CSS Starts ----------------*/
.bg_img {
  height: 100vh;
  width: 100%;
  background-image: url('https://media-exp1.licdn.com/dms/image/C4D1BAQFocQb8E1yRRQ/company-background_10000/0/1642787156743?e=2147483647&v=beta&t=iBe_wAcQG7q61xr6UtvaiHeAQarPYdgU12NhA1IY4eg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-size: 6rem;
}

/* NavBar CSS Starts */

.navBar {
  background-color: rgba(52, 51, 51, 0.6);
  float: right;
  width: 100%;
  height: 8%;
  position: fixed;
  z-index: 111;
  margin: 0px auto;
}

.list {
  display: flex;
  list-style: none;
  float: right;
  margin-bottom: -.1px;
}

.i, .i1 {
  padding: 1rem;
  margin: .3rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: white !important;
  position: relative;
  /* padding-bottom: 5px; */
  letter-spacing: 1.5px;
  width: max-content;
}

.i::after {
  content: '';
  width: 80%;
  background-color: white;
  position: absolute;
  margin: 0px auto;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0px;
  transform: scale(0);
  border-radius: 3px;
  transition: transform 0.5s ease-in-out;
}

.i:hover::after, .i1:hover .SubMenu::before {
  transform: scale(1);
  height: 3px;
}

.i1{
  transition: all 2s ease;
}

.i1:hover .SubMenu{
  display: block;
  transform: translateY(20%);
}

.SubMenu{
  display: block;
  padding: 5px;
  border: 2px solid grey;
  outline: none;
  letter-spacing: 3px;
  font-size: 0.9rem;
  background-color: rgba(52, 51, 51, 0.6);
  color: white;
  list-style: none;
  display: none;
  width: 100%;
  transition: transform 0.5s ease-in-out;
}

.m1{
  margin: 5px;
  padding: 5px;
}

.m1:hover, .item:hover, .i1:hover{
  cursor: pointer;
  color: rgba(241, 240, 240,0.7);
}


.Logo {
  color: white;
  font-size: 18px;
  padding: 20px;
}

/* NavBar CSS Over */

.Center {
  opacity: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* text-align: center; */
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: 'Ubuntu', sans-serif;
}

.Title {
  color: white;
  font-size: 4rem;
  letter-spacing: 2px;
  word-spacing: 2px;
  font-weight: 700;
  width: max-content;
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.s {
  display: inline-block;
  transition: transform 1s ease-in-out;
}

.s:hover {
  transform: translateY(-100%);
}

.s::after {
  content: 'Future';
  position: absolute;
  transition: transform 1s ease-in-out;
  display: block;
}

.Title1 {
  font-size: 1.2rem;
  letter-spacing: 10px;
  color: white;
}

.Btn {
  margin-top: 1rem;
  justify-content: center;
  width: 8rem;
  height: 3rem;
  font-size: 18px;
  color: white;
  letter-spacing: 1.5px;
  outline: none;
  border-radius: 2px;
  border: 2px double white;
  background: transparent;
  transition: all 0.4s ease-in;
}

/* .Btn a{
  text-decoration: none;
  color: white;
} */

.Btn:hover {
  cursor: pointer;
  background-color: rgb(10, 111, 252);
  font-size: 20px;
}

/* ------------- Landing Page CSS Over -------------- */

/* ----------------------------------------------------------------------------------------- */

/* .Main_header{ */
/* background-image: linear-gradient(to left bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.9)) , url('https://img.freepik.com/free-vector/business-presentation-banner-with-blue-geometric-shape_1017-32330.jpg?t=st=1655151029~exp=1655151629~hmac=02c79e8e75f7423988a30c64e8103d460ec4cf52de90d9e1e9943934e7b99a98&w=1380');
  background-repeat: no-repeat;
  background-size: 100% 100%; */

/* } */

.back_shape_right,
.back_shape_left {
  background: linear-gradient(to bottom, rgba(2, 2, 247, 0.4), rgba(2, 2, 247, 0.9));
  clip-path: polygon(50% 0, 100% 0, 100% 100%);
  width: 300px;
  height: 600px;
  position: absolute;
  right: 0;
  z-index: -1;
}

.back_shape_left {
  clip-path: polygon(0 0, 50% 0, 0 100%);
  left: 0;
}


.Header,
.Header_ {
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  text-align: center;
  padding: 20px;
  z-index: 1;
  position: relative;
  transition: all 2s ease;
}

.l1,
.l2 {
  text-align: center;
  font-size: 0px;
  letter-spacing: 3px;
  color: rgb(78, 77, 77);
  font-weight: 600;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  /* border: 2px solid green; */
  margin: 0 auto;
}

.l1_, .l2_{
  font-size: 0px;
  color: rgb(10, 38, 247);
  /* width: 80%; */
}

.effect {
  width: 40%;
  font-size: 26px;
  transition: all 2s ease;
}

.effect1{
  width: 40%;
  font-size: 22px;
  transition: all 2s ease;
}

.v1,
.v2 {
  display: block;
  background-color: rgba(10, 38, 247, 0.9);
  letter-spacing: 2px;
  color: white;
  text-align: center;
  width: fit-content;
  margin: 0px auto;
  position: relative;
  padding: 10px;
  transition: background-color 0.5s ease-in-out, opacity 3s ease-in-out;
  border: none;
  width: 15%;
  font-size: 18px;
  opacity: 0;
}

.v1:hover,
.v2:hover {
  background-color: rgba(2, 2, 247, 0.7);
}

.anim {
  opacity: 1;
}

.parent,
.parent_ {
  display: flex;
  flex-direction: column;
}

.cards,
.cards_ {
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 5rem;
  row-gap: 1rem;
  justify-content: center;
  align-items: center;
  margin: 2rem 2rem;
}


/* ---------- Card CSS Starts ----------- */

.main {
  width: 85%;
  height: fit-content;
  transition: all 1s;
  margin: 0px auto;
  background-color: white;
}

.main:hover {
  box-shadow: 2px 2px 7px black;
}

.img:hover img {
  box-shadow: 2px 2px 10px black;
  transform: scale(1.2);
  overflow: hidden;
}

.img {
  width: 100%;
  height: 33%;
  overflow: hidden;
  transition: translate 1s ease-in-out;
  position: relative;
}

.img img {
  width: 100%;
  height: 100%;
  transition: transform 1s ease-in-out;
  overflow: hidden;
}

.container {
  padding-bottom: 10px;
  text-align: center;
}

.container .add1,
.container .add2 {
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 500;
  padding: 5px 0px;
  margin: 5px 5px;
  text-align: left;
  /* text-align: left; */
}

.container .add2 {
  font-size: 17px;
  /* color: grey; */
  color: rgba(10, 38, 247, 0.9);
  font-weight: 900;
}

.container .price {
  text-align: left;
  margin-top: -10px;
  margin: 5px 5px;
  font-size: larger;
  padding: 5px 0px;
}

.data {
  display: grid;
  grid-template-columns: auto auto auto auto;
  column-gap: 20px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.d {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.d img {
  width: 70%;
  height: 20%;
}

.t {
  font-size: 15px;
  padding: 3px;
}

.digit {
  font-size: 19px;
  font-weight: 700;
  padding: 3px;
}

/* ---------- Card CSS Over ---------- */

.space {
  /* margin-top: 30px; */
  padding: 40px;
}


/* ------------------------ Feedback Carousel CSS Starts ------------------------  */


/*  */


.carousel_outer {
  position: relative;
  padding: 5px;
  height: 70vh;
  width: 97.5vw;
  background-image: url('https://www.nobroker.in/blog/wp-content/uploads/2022/02/Duplex-house-of-Living-room-and-kitchen.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.feedback {
  color: rgb(249, 249, 250);
  text-align: center;
  font-size: 26px;
  letter-spacing: 5px;
  font-weight: 900;
}

.carousel_inner {
  width: 100%;
  height: fit-content;
  display: flex;
  margin-top: 30px;
}

.second_rev,
.thired_rev,
.first_rev {
  background: linear-gradient(to bottom, rgba(38, 38, 39, 0.5), rgba(13, 13, 13, 0.6));
  background-size: 100% 100%;
  padding: 10px;
  /* padding-bottom: 10px; */
  text-align: center;
  width: 50%;
  height: 340px;
  margin: 30px;
  letter-spacing: 2px;
  font-size: smaller;
}

.first_rev div,
.second_rev div,
.thired_rev div{
  height: 100px;
  width: 30%;
  margin: 5px auto;
}

.pic {
  width: 90%;
  border-radius: 50%;
  height: 100%;
}

.para {
  color: white;
  transform: translateY(8%);
  text-align: center;
  font-size: 18px;
}

.user_name{
  font-size: 23px;
  font-weight: 900;
}

/* Footer CSS Starts */

.Footer{
  /* background: linear-gradient(to right, rgb(16, 183, 254), rgb(171, 223, 247)); */
  /* background: rgba(0, 0, 0, 0.5); */
  background-image: linear-gradient(to right bottom, rgba(49, 49, 49, 0.4), rgba(49, 49, 49, 0.4)) , url('https://media.istockphoto.com/photos/luxurious-beautiful-modern-villa-with-front-yard-garden-at-sunset-picture-id1283532082?b=1&k=20&m=1283532082&s=170667a&w=0&h=KxQ3cfMs-Xi7FL2TXfrgFbi9pwtBOdjSEc4-ufAeVlo=');
  /* background-position: center; */
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: fit-content;
  background-origin: content-box;
  background-attachment: fixed;
  /* color: white; */
}

.box{
  position: relative;
}

.upper{
  width: 50%;
  display: grid;
  grid-template-columns: auto auto;
  /* column-gap: 10px; */
  padding: 10px;
  margin: 0px auto;
}

.call_us, .mail_us{
  margin: 0px auto;
  display: flex;
  background-color: rgba(240, 237, 237, 0.7);
  color: blue;
  padding: 10px;
  width: 80%;
}

.call_us{
  width: 95%;
}

.call_us i, .mail_us i{
  transform: scale(1.5);
  /* overflow: hidden; */
  margin: auto 5px;
}

.call_outer, .mail_outer{
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  font-size: 20px;
  font-weight: 800;
  letter-spacing: 1px;
  /* width: 90%; */
}

.call_outer p, .mail_outer p{
  margin: 2px;
  color: black;
}

.lower{
  width: 100%;
  height: 310px;
  background-color: rgba(24, 24, 24,0.5);
  display: flex;
  margin: 0px auto;
}

section{
  /* padding: 15px; */
  width: 95%;
  height: fit-content;
  margin: 10px;
  /* margin: 0px auto; */
  /* text-align: center; */
}

section img{
  width: 200px;
  height: 100px;
  margin: 10px;
}

section .about{
  /* background-color: rgba(240, 237, 237, 0.7); */
  color: white;
  font-size: 17px;
  letter-spacing: 2px;
  width: 95%;
  padding: 2px;
  margin: 10px;
}

.icons{
  display: flex;
  margin: 10px auto;
  margin: 10px;
  background-color: rgba(240, 237, 237, 0.7);
  width: fit-content;
}

.icons i{
  margin: 15px;
  transform: scale(1.5);
  width: fit-content;
  cursor: pointer;
}

.useful_link{
  width: 95%;
  margin: 0px auto;
  margin: 10px;
  text-align: center;
}

.useful_link p{
  color: white;
  font-size: 24px;
  /* text-align: center; */
  width: 100%;
  letter-spacing: 2px;
  margin: 0px auto;
  margin-top: 20px;
}

.useful_link ul{
  list-style: none;
  display: grid;
  grid-template-columns: auto;
  height: fit-content;
  /* margin: 10px; */
}

.useful_link ul li{
  margin: 10px;
  padding: 10px;
  font-size: 18px;
  color: white;
  font-weight: 500;
  margin: 5px auto;
  letter-spacing: 3px;
  cursor: pointer;
}


.subs{
  width: 95%;
  padding: 10px;
  margin: 10px;
}

.sub{
  color: white;
  font-size: 24px;
  text-align: center;
  /* width: 100%; */
  letter-spacing: 2px;
  margin-top: 20px;
}

.subs_info{
  color: white;
  font-size: 18px;
  /* text-align: center; */
  /* width: 100%; */
  letter-spacing: 2px;
  margin-top: 20px;
}

.subs input{
  outline: none;
  margin-top: 20px;
  width: 50%;
  height: 35px;
  font-size: 20px;
  padding-left: 10px;
}

.subs input::placeholder{
  /* transform: scale(1.3); */
  padding: 10px;
}

.subs button{
  width: 20%;
  color: white;
  background-color: black;
  height: 35px;
  margin: 20px;
  font-size: 17px;
}

.footer_image{
  /* background-color: red; */
  width: max-content;
  height: 100%;
  float: right;
  transform: translate(-10%,-15%);
  /* z-index: -1; */
}

.footer_image img{
  width: 100%;
  height: 50%;
  /* z-index: -1; */
  clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 55% 75%, 31% 100%, 31% 75%, 0% 75%);
  transition: clip-path 1s ease-in-out;
}

.footer_image img:hover{
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%,0 0,0 0,0 0);
}

/* LogIn page CSS Starst  */

.Outer{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -45%);
  border-radius: 10px;
  width: 30%;
  height: 75%;
  background-color: rgb(236, 241, 245);
  border: 2px solid black;
  transition: all .2s ease-in-out;
  padding: 20px;
  z-index: 1;
}

.Outer:hover{
  box-shadow: 5px 5px 15px rgb(48, 48, 48);
}

.Inner{
  /* text-transform: uppercase; */
  font-size: 25px;
  text-align: center;
  width: 100%;
}

.contactDiv{
  /* margin: 20px; */
  margin: 0px auto;
  width: 100%;
  /* color: blue; */
}

.Row{
  width: 100%;
}

.loginStyle{
  width: 100%;
}

.loginStyle form{
  width: 100%;
  /* margin: 0px auto; */
}


.input_div1, .input_div2{
  width: 100%;
  padding: 20px;
}

.input_div1 label, .input_div2 label{
  font-size: 17px;
  margin-left: 2px;
  overflow: hidden;
  transition: all 1s ease;
  width: fit-content;
  height: 30px;
}

.input_div1 label:hover, .input_div2 label:hover{
  font-size: 18px;
  font-weight: 500;
}

.input_div1 input, .input_div2 input{
  width: 100%;
  /* background-color: white; */
  outline: none;
	border: none;
	width: 370px;
	padding: 15px;
	border-radius: 10px;
	background-color: #e2e8f4;
	margin: 5px 0;
	font-size: 14px;
}

.login_out{
  width: 100%;
  text-align: center;
  padding: 10px;
  margin: 10px;
}

.loginB{
  width: 33%;
  padding: 10px;
  margin: 0px auto;
  font-size: 18px;
  text-align: center;
  outline: none;
  border:none;
  background: linear-gradient(to right bottom, rgb(106, 106, 238), rgb(238, 132, 106));
  border-radius: 2px;
  color: white;
}

.loginB:hover{
  background: linear-gradient(to right bottom, rgb(238, 132, 106),rgb(106, 106, 238));
}

.ask{
  text-align: center;
}

.reg{
  text-decoration: none;
  outline: none;
  font-size: 17px;
}

.reg:hover{
  border-bottom: 2px solid rgb(130, 167, 248);
}

.shape_up{
  width: 400px;
  height: 400px;
  background-color: rgb(106, 106, 238);
  border-radius: 50%;
  float: right;
  position: relative;
  transform: translate(-90%,85%);
  opacity: 1;
  transition: all 2s ease-out;
  z-index: -1111;
}

.s_up{
  opacity: 1;
}

.shape_down{
  width: 400px;
  height: 400px;
  background-color: rgb(238, 132, 106);
  border-radius: 50%;
  float: right;
  /* position: relative; */
  z-index: -1111;
  transform: translate(-90%,15%);
  opacity: 1;
  /* transition: all 2s ease-out; */
}

/* SignUp CSS Starts */

.register_outer{
  min-width: 100%;
  min-height: 100vh;
  /* position: relative; */
  /* border: 10px solid red; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -48%);
  z-index: 1;
}

.register_inner:hover{
  box-shadow: 5px 5px 15px rgb(48, 48, 48);
}

.register_inner{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 30%;
  min-height: 70%;
  /* border: 10px solid green; */
  background-color: rgb(236, 241, 245);
  border: 2px solid black;
  transition: all .2s ease-in-out;
  padding: 30px;
  z-index: 1111;
  border-radius: 10px;
}

.title_SignUp{
  text-align: center;
  width: 100%;
  padding: 5px;
}

.r_name label, .r_email label, .r_password label{
  font-size: 17px;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 2px;
  overflow: hidden;
  transition: all 1s ease;
  width: fit-content;
  height: 30px;
  display: block;
}

.r_name label:hover, .r_email label:hover, .r_password label:hover{
  font-size: 18px;
  font-weight: 500;
}

.r_name input, .r_email input, .r_password input{
  /* background-color: white; */
  outline: none;
	border: none;
	min-width: 100%;
	padding: 15px;
	border-radius: 10px;
	background-color: #e2e8f4;
	/* margin: 5px auto; */
	font-size: 14px;
}

.registerD{
  text-align: center;
  margin: 30px;
}

.registerB{
  min-width: 33%;
  padding: 10px;
  margin: 0px auto;
  font-size: 18px;
  text-align: center;
  outline: none;
  border:none;
  background: linear-gradient(to right bottom, rgb(106, 106, 238), rgb(238, 132, 106));
  border-radius: 2px;
  color: white;
}

.registerB:hover{
  background: linear-gradient(to right bottom, rgb(238, 132, 106),rgb(106, 106, 238));
}

.backToLogin{
  text-align: center;
}

.backToLogin a{
  text-decoration: none;
  outline: none;
  font-size: 17px;
}

.backToLogin a:hover{
  border-bottom: 2px solid rgb(130, 167, 248);
}

/* Contatc Us page CSS Starts */

.back_image, .about_us_outer{
  background-image: linear-gradient(to right, rgba(218, 215, 215, 0.2), rgba(74, 47, 249, 0.5)) , url('https://static.wixstatic.com/media/988d2f_bdb73d411a0a4ce6b46066ae9424aff0~mv2.jpg/v1/fill/w_640,h_322,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/988d2f_bdb73d411a0a4ce6b46066ae9424aff0~mv2.jpg');
  background-repeat: no-repeat;
  background-position: 100% 50%;
  background-size: cover;
  width: 100%;
  height: 300px;
}

.back_image h1, .about_us_outer h1{
  display: block;
  position: absolute;
  left: 50%;
  top: 25%;
  transform: translate(-50%, -100%);
  color: white;
  font-size: 45px;
}

.contact_outer{
  min-width: 100%;
  height: 450px;
  /* border: 10px solid red; */
}

.contact_inner{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -10%);
  width: 50%;
}

.contact_name label, .contact_email label, .contact_message label{
  font-size: 17px;
  margin-bottom: 10px;
  margin-top: 15px;
  margin-left: 2px;
  overflow: hidden;
  transition: all 1s ease;
  width: fit-content;
  height: 30px;
  display: block;
}

.contact_name input, .contact_email input, .contact_message textarea{
  outline: none;
	border: none;
	min-width: 100%;
	padding: 15px;
	border-radius: 10px;
	background-color: #e2e8f4;
	/* margin: 5px auto; */
	font-size: 14px;
}

.submitDiv{
  width: 100%;
  text-align: center;
}

.contact_submit{
  width: 30%;
  padding: 10px;
  margin: 20px;
  font-size: 20px;
  background-color: rgb(71, 38, 253);
  color: white;
  outline: none;
  border: none;
}

.contact_submit:hover{
  background-color: rgba(71, 38, 253, 0.8);
}

/* .con2::after{
  opacity: 1;
  display: block;
} */