/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Landing Page CSS Starts*/
.bg_img{
  height: 100vh;
  width: 100%;
  background-image: url('https://directlinedev.com/media/portfolio/cases/background/background_66.wide.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-size: 6rem;
}

.navBar{
  background-color: rgba(52, 51, 51, 0.6);
  float: right;
  width: 100%;
  position: fixed;
  z-index: 111;
  margin: 0px auto;
}

.list{
  display: flex;
  list-style: none;
  /* opacity: 1; */
  float: right;
}

.item{
  padding: 1rem;
  margin: .5rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: white;
  position: relative;
  padding-bottom: 5px;
  letter-spacing: 1.5px;
  width: max-content;
}

.item::after{
  content: '';
  width: 100%;
  background-color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0px;
  transform: scale(0);
  border-radius: 3px;
  transition: transform 0.5s ease-in-out;
}

.item:hover::after{
  transform: scale(1);
  height: 3px;
}

.Logo{
  color: white;
  font-size: 18px;
  padding: 20px;
}

.Center{
  opacity: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* text-align: center; */
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: 'Ubuntu', sans-serif;
}

.Title{
  color: white;
  font-size: 4rem;
  letter-spacing: 2px;
  word-spacing: 2px;
  font-weight: 700;
  width: max-content;
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.s{
  /* overflow: hidden; */
  display: inline-block;
  transition: transform 1s ease-in-out;
}

.s:hover{
  transform: translateY(-100%);
}

.s::after{
  content: 'Future';
  position: absolute;
  transition: transform 1s ease-in-out;
  display: block;
}

.Title1{
  font-size: 1rem;
  letter-spacing: 10px;
  color: white;
}

.Btn{
  margin-top: 2rem;
  justify-content: center;
  width: 8rem;
  height: 3rem;
  font-size: 18px;
  color: white;
  letter-spacing: 1.5px;
  outline: none;
  border-radius: 2px;
  border: 2px double white;
  background: transparent;
  transition: all 0.4s ease-in;
}

.Btn:hover{
  cursor: pointer;
  background-color: rgb(10, 111, 252);
  font-size: 20px;
}

/* Landing Page CSS Over */

/* ----------------------------------------------------------------------------------------- */

.Header{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text_l1{
  text-align: center;
  font-size: 22px;
  letter-spacing: 3px;
  color: rgb(78, 77, 77);
  margin-top: 15px;
  color: blue;
  font-weight: 600;
  width: fit-content;
}

.text_l2{
  width: fit-content;
  color: rgba(0,0,255, 0.8);
  text-align: center;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 3px;
  margin-top: 15px;
}

.text_l1:hover{
  text-shadow: 1px 1px 1px black;
}

.cards{
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 10rem;
  row-gap: 2rem;
  justify-content: center;
  align-content: center;
  margin: 2rem 5rem;
}

/* Card CSS Starts */

.main{
  width: 100%;
  height: fit-content;
  transition: all 1s;
  border: 1px solid gray;
}

.img .view_more{
  /* content: 'View More'; */
  display: block;
  background-color: rgba(251, 251, 253, 0.6);
  border-radius: 3px;
  /* background-color: rgba(97, 97, 98, 0.7); */
  color: rgba(0,0,255,0.7);
  /* color: white; */
  text-align: center;
  width: fit-content;
  margin: 0px auto;
  display: none;
  position: relative;
  padding: 9px;
  transition: translate 1s ease-in-out;
  border: none;
  letter-spacing: 1px;
}

.view_more_2{
  background-color: rgba(97, 97, 98, 0.7);
  color: white;
  text-align: center;
  width: fit-content;
  margin: 0px auto;
  padding: 9px;
  transition: translate 1s ease-in-out;
  border: none;
  margin-top: 10px;
  font-size: 18px;
  cursor: pointer;
}

.img:hover .view_more{
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  transform: translate(-50%, -50%);
  font-weight: 700;
  font-size: 20px;
  opacity: 1;
  cursor: pointer;
}

.main:hover{
  background: rgba(10, 10, 10, 0.15);
}

.img:hover img{
  box-shadow: 2px 2px 10px black;
  transform: scale(1.2);
}

.img{
  width: 100%;
  height: 33%;
  overflow: hidden;
  transition: translate 1s ease-in-out;
  position: relative;
}

.img img{
  width: 100%;
  height: 100%;
  transition: transform 1s ease-in-out;
  overflow: hidden;
}

.container{
  padding-bottom: 10px;
  text-align: center;
}

.container .add1, .container .add2{
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 500;
  padding: 5px 0px;
  margin: 5px 5px;
  text-align: left;
  /* text-align: left; */
}

.container .add2{
  font-size: 16px;
  color: grey;
}

.container .price{
  text-align: left;
  margin-top: -10px;
  margin: 5px 5px;
  font-size: larger;
  padding: 5px 0px;
}

.data{
  display: grid;
  grid-template-columns: auto auto auto auto;
  column-gap: 20px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.d{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.d img{
  width: 70%;
  height: 20%;
}

.t{
  font-size: 15px;
  padding: 3px;
} 

.digit{
  font-size: 19px;
  font-weight: 700;
  padding: 3px;
}

/* Card CSS Over */

.space
{
  /* margin-top: 30px; */
  padding: 40px;
}

.view{
  display: block;
  background-color: rgba(97, 97, 98, 0.7);
  color: white;
  text-align: center;
  width: fit-content;
  margin: 0px auto;
  position: relative;
  padding: 10px;
  transition: all 0.5s ease-in-out;
  border: none;
  width: 10%;
  font-size: 18px;
}

.view:hover{
  background-color: rgba(97, 97, 98, 0.9);
}


.Footer{
  margin-top: 30px;
  width: 100%;
  height: 40vh;
  background: url(https://picsum.photos/200/300);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
  font-size: 25px;
}